In [19]:
# Import dependencies

import pandas as pd
import json
import requests 
import numpy as np
import requests
from scipy.stats import linregress
import pprint as pprint
import seaborn as sns
import datetime
import matplotlib.pyplot as plt
import scipy.stats as st
import scipy.stats as sem
import random
# from api_keys import weather_api_key
# from api_keys import g_key
import time as time
#import wget as wget
random.seed(42)

In [20]:
# Reference to CSV and reading CSV into Pandas DataFrame
csv_path1 = "Resources/credits.csv"
csv_path2 = "Resources/keywords.csv"
csv_path3 = "Resources/links.csv"
csv_path4 = "Resources/links_small.csv"
csv_path5 = "Resources/movies_metadata.csv"
csv_path6 = "Resources/ratings.csv"
csv_path7 = "Resources/ratings_small.csv"


# merging final combined CSV meta file


credits_df = pd.read_csv(csv_path1)
keywords_df = pd.read_csv(csv_path2)
links_df = pd.read_csv(csv_path3)
links_small_df = pd.read_csv(csv_path4)
movies_metadata_df = pd.read_csv(csv_path5)
ratings_df = pd.read_csv(csv_path6)
ratings_small_df = pd.read_csv(csv_path7)

C:\Users\sunda\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [21]:
movies_metadata_df.head()

,adult,belongs_to_collection,budget,Profit Margin,Profit,genres,homepage,id,imdb_id,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,91.9690333,343554033.00,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,...,10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,FALSE,NaN,65000000,75.26610334,197797249.00,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,...,12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,0,0.00,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,...,12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,FALSE,NaN,16000000,80.35656662,65452156.00,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,...,12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,100,76578911.00,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,...,2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [22]:
movie_genres =movies_metadata_df["genres"]
movie_genres.head()

0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                       [{'id': 35, 'name': 'Comedy'}]
Name: genres, dtype: object

In [23]:
def extract_names(list_genres):
    list_genres = json.loads(list_genres.replace("'",'"'))

    genres_names = []
    for item in list_genres:
        
        genres_names.append(item['name'])
    return ",".join(genres_names)

In [24]:
extract_names(movie_genres[0])

'Animation,Comedy,Family'

In [25]:
movie_genres.apply(extract_names)

0         Animation,Comedy,Family
1        Adventure,Fantasy,Family
2                  Romance,Comedy
3            Comedy,Drama,Romance
4                          Comedy
                   ...
45461                Drama,Family
45462                       Drama
45463       Action,Drama,Thriller
45464
45465
Name: genres, Length: 45466, dtype: object

In [26]:
#test = '[{"id": 16, "name": "Animation"}]'
test=movie_genres[0].replace("'",'"')
json.loads(test)

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [27]:
movies_metadata_df["genres"] =movie_genres.apply(extract_names)
movies_metadata_df.head()

,adult,belongs_to_collection,budget,Profit Margin,Profit,genres,homepage,id,imdb_id,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,91.9690333,343554033.00,"Animation,Comedy,Family",http://toystory.disney.com/toy-story,862,tt0114709,en,...,10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,FALSE,NaN,65000000,75.26610334,197797249.00,"Adventure,Fantasy,Family",NaN,8844,tt0113497,en,...,12/15/1995,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,0,0.00,"Romance,Comedy",NaN,15602,tt0113228,en,...,12/22/1995,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,FALSE,NaN,16000000,80.35656662,65452156.00,"Comedy,Drama,Romance",NaN,31357,tt0114885,en,...,12/22/1995,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,100,76578911.00,Comedy,NaN,11862,tt0113041,en,...,2/10/1995,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [29]:
movie_vote = movies_metadata_df[['id','title','genres','vote_average']]
movie_vote

,id,title,genres,vote_average
0,862,Toy Story,"Animation,Comedy,Family",7.7
1,8844,Jumanji,"Adventure,Fantasy,Family",6.9
2,15602,Grumpier Old Men,"Romance,Comedy",6.5
3,31357,Waiting to Exhale,"Comedy,Drama,Romance",6.1
4,11862,Father of the Bride Part II,Comedy,5.7
...,...,...,...,...
45461,439050,Subdue,"Drama,Family",4.0
45462,111109,Century of Birthing,Drama,9.0
45463,67758,Betrayal,"Action,Drama,Thriller",3.8
45464,227506,Satan Triumphant,,0.0
45465,461257,Queerama,,0.0

NameError: name 'movie_vote_df' is not defined

In [28]:
movies_metadata_df[['genres','allele']] = movies_metadata_df['genres'].str.split('-',expand=True)
movies_metadata_df.head()

ValueError: Columns must be same length as key

In [10]:
Profit_data= movies_metadata_df[['id','genres','budget','revenue','Profit','Profit Margin']]
Profit_data.head()

,id,genres,budget,revenue,Profit,Profit Margin
0,862,"Animation,Comedy,Family",30000000,373554033.0,343554033.00,91.9690333
1,8844,"Adventure,Fantasy,Family",65000000,262797249.0,197797249.00,75.26610334
2,15602,"Romance,Comedy",0,0.0,0.00,0
3,31357,"Comedy,Drama,Romance",16000000,81452156.0,65452156.00,80.35656662
4,11862,Comedy,0,76578911.0,76578911.00,100

In [16]:

movies_metadata_df[["genres"]] = pd.DataFrame([ x.split('-') for x in movies_metadata_df["genres"].tolist() ])

KeyError: 'genres'

In [12]:
movies_metadata_df[['genres','allele']] = movies_metadata_df['genres'].str.split('-',expand=True)
movies_metadata_df.head()

KeyError: 'genres'

In [17]:
movie_db = movies_metadata_df[['id','title','genres','vote_average']]
movie_db

KeyError: "None of [Index(['id', 'title', 'genres', 'vote_average'], dtype='object')] are in the [columns]"